<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Roadmap Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Roadmap Detail</h1>

	<div class="grid">
		<div class="ingredient-group">
			<h3>Designate your :</h3>
			<span th:text="${roadmap.id}"></span> <span th:text="${roadmap.name}"></span>
			<br>
			<section th:insert="@{menuFragment} :: menu" th:with="elementsList=${roadmap.elements}"></section>
		</div>
	</div>


	<!-- <form method="POST" th:object="${taco}">
<section th:replace="this :: menu(${element.subElements})" ></section>
    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}" 
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
      <div class="ingredient-group" id="wraps">
      <h3>Designate your wrap:</h3>
      <div th:each="roadmap : ${wrap}">
        <input name="roadmaps" th:value="${roadmap.id}" />
        <span th:text="${roadmap.name}">INGREDIENT</span><br/>
      </div>
      </div>

   
      </div>
      
      <div>


      <h3>Name your taco creation:</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}" 
            th:errors="*{name}">Name Error</span>
      <br/>
      
      <button>Submit your taco</button>
      </div>
    </form> -->
</body>
</html>